<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        [ngClass]="getColumnClass(column)"
        (click)="column.callback()"
      >{{ column.label }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td
        *ngFor="let column of columns"
        [ngClass]="column.class"
      >{{ column.format ? column.format(getData(column.field, order)) : getData(column.field, order) }}</td>
    </tr>
    <tr *ngIf="!orders.length">
      <td>
        No orders loaded.
      </td>
    </tr>
  </tbody>
</table>
