<td>{{ order.customer }}</td>
<td>{{ order.vendor }}</td>
<td>{{ order.headcount }}</td>
<td>{{ order.deliveredAt | date }}</td>
<td>{{ paymentType(order.paymentType) }}</td>
<td class="text-right">&pound;{{ order.price.total }}</td>


<!--
  commissionRate: 0.15
currentLocation: {lat: 51.513181, long: -0.01464299999999999}
  customer: "AlphaBreakers"
delayMinutes: 0
deliveredAt: "2018-04-09T08:56:36.000Z"
deliveryLocation: {lat: 51.506497, long: -0.044610999999999984}
driverName: "Nelson Piquet"
  headcount: 83
id: 1824
lastModified: "2018-03-07T10:52:15.000Z"
lateReason: null
packaging: "VENDOR_PROVIDED"
  paymentType: "CARD"
  price: {delivery: 0, items: 5299.75, total: 5299.75, vatRate: 20, vatableItems: 0, vatAmount: 0}
  requestedDeliveryDate: "2018-04-09T07:30:00.000Z"
servingStyle: "INDIVIDUAL_PORTIONS"
  vendor: "Mando's"
-->
